/*****************************************************************************/
/*********************************FullHD 1440**********************************/
/*****************************************************************************/

#home_intro {
width:100%;
text-align:justify;
margin-top:1.4em;
}

.home_intro_block {
display:inline-block;
text-align:left;
vertical-align: top;
width:300px;
}

#home_intro img {
width:100%;
}

.home_intro_title {
color:#1F9C3E;
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.3em;
margin-top:0.2em;
margin-bottom:0.4em;
}

.home_intro_title a {
color:#1F9C3E;
text-decoration:underline;
}

.home_intro_top {
margin-top:0.7em;
font-size:1em;
}

/*****************************************************************************/
/***********************************HD 1152***********************************/
/*****************************************************************************/

@media only screen and (max-width: 11439px) { /**Replace to 1439 when FullHD wins**/

.home_intro_block {
width:240px;
}

}

/*****************************************************************************/
/***********************************Tablet 1024*********************************/
/*****************************************************************************/

@media only screen and (max-width: 1151px) {


.home_intro_block {
width:213px;
}

}


/*****************************************************************************/
/*******************************MOBILE****************************************/
/*****************************************************************************/


@media only screen and (max-width: 1023px) {

#home_intro {
display:none;
}

}